.container{
    width: 400px;
    height: 1500px;
    border: 1px solid red;
    position: relative;
}

.box{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    position: sticky;
}

.box-1{
    background-color: red;
    top: 0px;
   
}
.box-2{
    background-color: green;
    width: 160px;
    height: 160px;
    left: 20px;
    top:20px
   
   
}
.box-3{
    background-color: blue;
    height: 120px;
    width: 120px;
    left: 40px;
    top: 40px;
   
 
}
.box-4{
    background-color: orange;
    left: 60px;
    top: 60px;
    height: 80px;
    width: 80px;
 
}